<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Users List</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="cors.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
 <title>Vehicle Form</title>
</head>

<body>
	<p th:text=" ${headerMessage} " />
	<h2> Congratulations!! your form is submitted successfully</h2>
	<h3> Details submitted by you:</h3>

	<table>
		<tr> 
			<td>User Name:</td>
			<td><p th:text=" ${vehicleBean.userName} " /> </td>
		</tr>
		
		<tr> 
			<td>MobileNumber:</td>
			<td><p th:text=" ${vehicleBean.mobileNumber} " /> </td>
		</tr>
		
		<tr> 
			<td>VehicleName:</td>
			<td><p th:text=" ${vehicleBean.vehicleName} " /> </td>
		</tr>
		<tr> 
			<td>VehicleNumber:</td>
			<td><p th:text=" ${vehicleBean.vehicleNumber} " /> </td>
		</tr>
	</table>
</body> 
</html>